@charset "UTF-8";

*       {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body	{
    cursor: crosshair;
    font-family: 'Arial', 'sans-serif';
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1em;
    background-color: #eeeeee;
}

img	{
    border: 0;
}

a:link {
    color: #333333;
}

a:visited	{
    color: #333333;
}

a:hover	{
    color: #999999;
}

a:active	{
    color: #333333;
}

/* main box */
#container	{
    width: 500px;
    border: solid 2px #000000;
    margin: 1em auto 1em auto;
    text-align: left;
    background-color: #ffffff;
}

/* head content(or Logo?) */
#header {
    width: 500px;
    height: 120px;
    background-color: #333333;
}

/* common */
#description h2	{
    font-size: 1.5em;
    margin: 0.5em 0em 0.5em 0.5em;
}


#description p {
    margin: 1em 1em;
}

.annotation {
    font-weight: bold;
    color: #ff0000;
}

/* index */
#select_IdP fieldset	{
    padding: 0.5em 0em 0.5em 0.5em;
    margin: 1em 0.5em 0.5em 0.5em;
}

#select_IdP legend	{
    line-height: 1.2em;
}

#recent_IdP p {
    font-weight: bold;
    margin-top:  1em;
    margin-left: 1em;
}

#recent_IdP ul {
    line-height: 2em;
    margin-left: 2em;
}

/* bad */
#param_list {
    line-height: 1.5em;
    margin-left: 2em;
}

.real_param {
    margin-left: 1em;
}

/* footer */
#footer	{
    width: 500px;
}

#footer .note	{
    margin: 1em 0.5em 0.5em 0.5em;
    font-weight: bold;
}

#footer .copyright	{
    text-align: center;
}
